.App {
  text-align: center;
}

/*Todo */
.todo-container {
  margin: 0 auto;
  width: 1000px;
}

form {
  padding: 10px 0;
  text-align: left;
}

.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: #3c9ad2;
  color: white;
  margin: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #494444;
}
.todo-list .btn {
  margin: 0 3px;
}

.error {
  border: 1px solid red;
}

.todo-id {
  display: none;
}
